:root {
    --default-font-color: #1b1b1b;
    --secondary-font-color: #8F6CC8;
    --default-bg-color: #EFF2FB;
    --secondary-bg-color: #FFFFFF;
    --gradient-color-1: #EFF2FB;
}

/*
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Franklin", sans-serif;
    transition: background-color 0.3s ease;
}

html {
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
}

b {
    color: var(--secondary-font-color);
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--default-font-color);
    margin-bottom: 1rem;
    letter-spacing: 0.3rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--default-font-color);
    letter-spacing: 0.2rem;
}

h3 {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--default-font-color);
    letter-spacing: 0.1rem;
    margin-left: 3%;
    width: 80%;
}

u {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    /* change color of underline */
    text-decoration-color: var(--secondary-font-color);
    text-decoration-thickness: 0.3rem;
    text-decoration-skip-ink: none;
}

.dark {
    display: none;
}

header {
    z-index: 1;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(180deg, var(--gradient-color-1), #ffffff00);
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: calc(100% / 3);
}

nav ul:first-child {
    justify-content: flex-start;
}

nav ul:last-child {
    justify-content: flex-end;
}

#links li {
    margin-right: 1rem;
    font-size: 1.3rem;
}

#links li a {
    text-decoration: none;
    color: var(--default-font-color);
    transition: all 0.3s ease;
    letter-spacing: 0.8px;
}

#links li a:hover {
    color: var(--secondary-font-color);
    text-shadow: 0 5px 5px var(--secondary-font-color);
}

nav img {
    width: 80px;
}

#mode {
    width: 50px;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#mode:hover {
    filter: brightness(0.8);
}

#mode img {
    width: 100%;
}

#sun {
    filter: invert(1);
}

main section {
    min-height: 100vh;
    padding: 3% 10% 3% 10%;
    background-color: var(--secondary-bg-color);
}

main section:first-child,
main section:last-child {
    background-color: var(--default-bg-color);
}

main section:nth-child(1) {
    padding: 0% 10% 0% 10%;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title div {
    width: 50%;
}

#title-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: url("../images/visual.svg") no-repeat center center;
}

#title-right img {
    height: 100vh;
}

#comments {
    background-color: var(--default-bg-color);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

form div {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

form div input {
    width: 45%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: none;
    border-bottom: 1px solid var(--default-font-color);
    background-color: var(--secondary-bg-color);
}

form div input::placeholder {
    color: var(--default-font-color);
}

form input {
    width: 90%;
    padding: 0.5rem;
    margin: 0.5rem;
    border: none;
    border-bottom: 1px solid var(--default-font-color);
    background-color: var(--secondary-bg-color);
    color: var(--default-font-color);
}

form textarea {
    width: 90%;
    padding: 0.5rem;
    margin: 0.5rem;
    border: none;
    border-bottom: 1px solid var(--default-font-color);
    background-color: var(--secondary-bg-color);
    resize: none;
    color: var(--default-font-color);
}

form button {
    width: 90%;
    padding: 0.5rem;
    margin: 0.5rem;
    border: none;
    background-color: var(--secondary-font-color);
    color: var(--secondary-bg-color);
    cursor: pointer;
}

form button:hover {
    filter: brightness(0.8);
}

.comment {
    display: flex;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 1rem;
    background-color: var(--secondary-bg-color);
}

.comment .initials {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--secondary-font-color);
    background-color: var(--default-font-color);
    border-radius: 50%;
}

.comment div {
    margin-left: 1rem;
}

.comment div:nth-child(2) {
    width: 80%;
}

.comment p {
    color: var(--default-font-color);
}

.comment h3 {
    color: var(--secondary-font-color);
}

.comment .content {
    margin-top: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 1rem 10%;
    background-color: var(--secondary-font-color);
    min-height: 50vh;
}

footer div {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    min-width: 300px;
}

footer div h3 {
    color: var(--secondary-bg-color);
    background-color: var(--secondary-font-color);
    padding: 0.5rem;
}

footer div p {
    color: var(--default-font-color);
    margin-bottom: 1rem;
}

footer div a {
    color: var(--default-font-color);
    text-decoration: none;
    transition: all 0.3s ease;
}

footer div a:hover {
    text-decoration: underline;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circle {
    stroke: #4CC790;
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
}

.progress {
    animation: progress 4s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skills > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33%;
    min-width: 250px;
    max-width: 333px;
    padding: 1rem;
}

#skills > div > p > b {
    color: var(--secondary-font-color);
    margin-bottom: 1rem;
    font-size: 2rem;
}

#skills > div > p {
    color: var(--default-font-color);
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.scale {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 100%;
}

#skills > div:nth-child(1) .scale {
    background: url("../images/java.png") no-repeat center center;
    background-size: 50% 50%;
}

#skills > div:nth-child(2) .scale {
    background: url("../images/htmlcss.png") no-repeat center center;
    background-size: 70% 70%;
}

#skills > div:nth-child(3) .scale {
    background: url("../images/python.png") no-repeat center center;
    background-size: 40% 40%;
}

#skills > div:nth-child(4) .scale {
    background: url("../images/c.png") no-repeat center center;
    background-size: 40% 40%;
}

#skills > div:nth-child(5) .scale {
    background: url("../images/mysql.png") no-repeat center center;
    background-size: 40% 40%;
}

#skills div img {
    position: relative;
    width: 40%;
}

#burger {
    display: none;
    aspect-ratio: 1/1;
    border: none;
    background-color: transparent;
}

#burger span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: var(--default-font-color);
    transition: all 0.3s ease;
}

.show {
    left: -50%;
}

#navList {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--secondary-bg-color);
}

#navList ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
}

#navList ul li {
    margin: 1rem 0;
}

#navList ul li a {
    text-decoration: none;
    color: var(--default-font-color);
    transition: all 0.3s ease;
    letter-spacing: 0.8px;
    font-size: larger;
}

#navList ul li a:hover {
    color: var(--secondary-font-color);
    text-shadow: 0 5px 5px var(--secondary-font-color);
}

@media (max-width: 1500px) {
    #title {
        padding: 0 5%;
    }
}

@media (max-width: 1440px) {
    h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 1284px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.1rem;
    }
}

@media (max-width: 1185px) {
    #title-right {
        background-size: 130% 130%;
    }

    #title-right img {
        width: 70%;
        height: unset;
    }

    footer {
        flex-wrap: wrap;
    }
}

@media (max-width: 800px) {
    #title {
        flex-direction: column;
        justify-content: end;
        padding: 0 5%;
    }

    #title div {
        width: 70%;
    }
}

@media (max-width: 550px) {
    #burger {
        display: block;
    }

    #burger span {
        width: 30px;
        height: 3px;
        margin: 5px;
        background-color: var(--default-font-color);
        transition: all 0.3s ease;
    }

    #links {
        display: none;
    }

    #navList {
        display: block;
    }
}